.box-container {
  display: flex;
  flex-wrap: wrap;
  color: white;
}

.box_elements {
  flex-grow: 1;
  background-color: grey;
  border-radius: 5px;
  text-align: center;
  border: 1px solid darkgrey;
  height: 75px;
}

.count {
  font-size: 1rem;
}

.status {
  font-size: 12px;
}
